.transaction-block {
    width: 60%;
    margin: auto;
}

@media screen and (max-width:1024px) {
  .transaction-block {
      width: 70%;
  }
}

@media screen and (max-width:565px) {
  .transaction-block {
      width: 90%;
  }
}

@media screen and (max-width:428px) {
  h1.transaction-index {
      font-size: 27px;
  }
}

@media screen and (max-width:400px) {
  h1.transaction-index {
      font-size: 22px;
  }
}

table.transaction-table {
  border-collapse: collapse;
  border: solid 1px #999;
  font-size:13px;
  text-align:left;
}


th.transaction-th {
  background-color:#eee;
  padding: 9px;
  letter-spacing: 1px;
  border: solid 1px #999;
}

@media screen and (max-width:428px) {
  th.transaction-th {
    padding: 7px;
    font-size: 12px;
  }
}

@media screen and (max-width:400px) {
  th.transaction-th {
    padding: 7px;
    font-size: 10px;
  }
}

td.transaction-td {
  background-color:#fff;
  padding: 9px;
  letter-spacing: 1px;
  border: solid 1px #999;
}

@media screen and (max-width:428px) {
  td.transaction-td {
    padding: 7px;
    font-size: 12px;
  }
}

@media screen and (max-width:400px) {
  td.transaction-td {
    padding: 7px;
    font-size: 10px;
  }
}
